* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#light .App {
  background-color: #F9F9F9;
}

#dark .App {
  background-color: #222222;
}

.navbar {
  width: 393px;
  height: 60px;
  flex-shrink: 0;
  background-color: #222;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
display: flex;
width: 177px;
height: 37px;
}


.navbar-right{
margin: 18px 16px 12px;
position: relative;
}

.switch {
  width: 64px;
  height: 30px;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
}

.slider {
position: absolute;
top: 0;
z-index: 2;
width: 64px;
height: 30px;
}

.switch input {
  opacity: 0;
  width: 0px;
  height: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.header img {
  width: 103px;
  height: 60px;
  flex-shrink: 0;
}

.footer{
  width: 393px;
  height: 400px;
  flex-shrink: 0;
}

.footer img {
  width: 137px;
  height: 91px;
  flex-shrink: 0;
}

/* .footer li{
  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.165px;
} */

About {
  Width: 66px;
  height: 19px;
  Top: 1887px;
  Left: 53px;
}

.Contact {
  Width: 59px;
  height: 19px;
  Top: 1925px;
  Left: 53px;
}

.Careers {
  Width: 58px;
  height: 19px;
  Top: 1965px;
  Left: 53px;
}

.Store {
  Width: 87px;
  height: 19px;
  Top: 2003px;
  Left: 53px;
}

.Policy {
  Width: 101px;
  height: 19px;
  Top: 2042px;
  Left: 53px;
}


.Newsletter {
  Width: 79px;
  height: 19px;
  Top: 2081px;
  Left: 53px;
}








.footer .About {
  Width: 66px;
  height: 19px;
  Top: 1887px;
  Left: 53px;
}




.logo {
  width: 103px;
  height: 60px;
  flex-shrink: 0;
}
