/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width:393px;
  min-width:393px;
  display:flex;
  flex-direction:column;
} */

.light-theme, .dark-theme {
  transition: all 300ms ease;
}

.light-theme {
  background-color: #F9F9F9;
  width:100%;
}

.dark-theme {
  background-color: #222222;
  width:100%;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #222222;
  color: #ffffff;
}

.navbar {
  width: 100%;
  height: 60px;
  padding:5px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  position: fixed; /* Fixes navbar to the top of the page */
  top: 0; /* Anchors navbar to the top */
  left: 0; /* Anchors navbar to the left, ensuring it spans the full width */
  z-index: 1000; /* Optional: raises the navbar above other elements */
}

.navbar-left {
width: 50%;
height: 37px;
align-self: self-start;
}


.navbar-right{
width: auto;
height: revert-layer;

}

.switch {
  width: 64px;
  height: 30px;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
}

.slider {
position: absolute;
top: 0;
z-index: 2;
width: 64px;
height: 30px;
}

.switch input {
  opacity: 0;
  width: 0px;
  height: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.header img {
  width: 103px;
  margin-top:5px;
  height: 60px;
  flex-shrink: 0;
}

.footer{
  width: 100%;
  list-style:none;
  height: 400px;
  flex-shrink: 0;
  margin-top: 37px;
  background: #FFFFFF
}

ul{
  list-style: none;
  margin-left:10px;
}


.footer img {
  width: 137px;
  margin-left: 15px;
  height: 91px;
  flex-shrink: 0;
}

.dark-mode li {
  color: #ffffff;
}

About {
  margin: 10px;
  Width: 66px;
  height: 19px;
  Top: 1887px;
  Left: 53px;
}

.Contact {
  Width: 59px;
  height: 19px;
  Top: 1925px;
  Left: 53px;
}

.Careers {
  Width: 58px;
  height: 19px;
  Top: 1965px;
  Left: 53px;
}

.Store {
  Width: 87px;
  height: 19px;
  Top: 2003px;
  Left: 53px;
}

.Policy {
  Width: 101px;
  height: 19px;
  Top: 2042px;
  Left: 53px;
}


.Newsletter {
  Width: 79px;
  height: 19px;
  Top: 2081px;
  Left: 53px;
}


.footer .About {
  Width: 66px;
  height: 19px;
  Top: 1887px;
  Left: 53px;
}

.logo {
  width: 103px;
  height: 60px;
  flex-shrink: 0;
}
